services:
  web:
    image: nginx:latest
    restart: on-failure
    ports:
      - "4444:80"
    volumes:
      - ./site.conf:/etc/nginx/conf.d/default.conf:ro
    links:
      - fcgi
  fcgi:
    build:
      context: .
      dockerfile: php-fpm.Dockerfile
    restart: on-failure
    environment:
      - C2K48_DATA=/appdata
    volumes:
      - .:/app:ro
      - data:/appdata:rw
  game:
    build:
      context: .
      dockerfile: php-cli.Dockerfile
    restart: on-failure
    user: www-data
    environment:
      - C2K48_DATA=/appdata
    volumes:
      - .:/app:ro
      - data:/appdata:rw
    command: "php /app/daemon.php"
volumes:
  data:
